form.buy
    h1 Buy bitcoin
    p address purse
    input(type="text")
    p summa bitcoins
    input(type="number")
    p email
    input(type="email")
    p phone number
    input(type="number")
    div.calculate
        h1 Here sum KZT
